In [1]:
import pandas as pd
import numpy as np

#### Import CSV file
    
        drop 2 columns which are not required

In [2]:
passenger_df=pd.read_csv('Passasjerer.csv',delimiter=";", header=1,encoding="ISO-8859-1").drop(['domestic/international flights','passenger group'],axis=1)

# Sort the df by airport
passenger_df = passenger_df.sort_values('airport')

# reset df with original index
passenger_df.reset_index(drop=True,inplace=True)
passenger_df

,airport,type of traffic,Passengers 2009M01,Passengers 2009M02,Passengers 2009M03,Passengers 2009M04,Passengers 2009M05,Passengers 2009M06,Passengers 2009M07,Passengers 2009M08,...,Passengers 2019M12,Passengers 2020M01,Passengers 2020M02,Passengers 2020M03,Passengers 2020M04,Passengers 2020M05,Passengers 2020M06,Passengers 2020M07,Passengers 2020M08,Passengers 2020M09
0,Alta,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Alta,"Helicopter, other",0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
2,Alta,Other commercial flights,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Alta,Other commercial flights,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Alta,"Helicopter, other",0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,Ørsta-Volda Hovden,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,2,0,0
1088,Ørsta-Volda Hovden,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1089,Ørsta-Volda Hovden,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,2,0,0
1090,Ørsta-Volda Hovden,Other commercial flights,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1091,Ørsta-Volda Hovden,Scheduled passenger flights,7087,7317,8417,7867,7891,8823,6496,7284,...,7611,8336,8045,4504,2124,2651,5536,5894,5459,4999

### Renaming columns

In [3]:
passenger_df = passenger_df.rename(columns={
 'type of traffic':'type_of_traffic',
 'Passengers 2009M01':'Passenger_2009_Jan',
 'Passengers 2009M02':'Passenger_2009_Feb',
 'Passengers 2009M03':'Passenger_2009_Mar',
 'Passengers 2009M04':'Passenger_2009_Apr',
 'Passengers 2009M05':'Passenger_2009_May',
 'Passengers 2009M06':'Passenger_2009_Jun',
 'Passengers 2009M07':'Passenger_2009_Jul',
 'Passengers 2009M08':'Passenger_2009_Aug',
 'Passengers 2009M09':'Passenger_2009_Sep',
 'Passengers 2009M10':'Passenger_2009_Oct',
 'Passengers 2009M11':'Passenger_2009_Nov',
 'Passengers 2009M12':'Passenger_2009_Dec',
 'Passengers 2010M01':'Passenger_2010_Jan',
 'Passengers 2010M02':'Passenger_2010_Feb',
 'Passengers 2010M03':'Passenger_2010_Mar',
 'Passengers 2010M04':'Passenger_2010_Apr',
 'Passengers 2010M05':'Passenger_2010_May',
 'Passengers 2010M06':'Passenger_2010_Jun',
 'Passengers 2010M07':'Passenger_2010_Jul',
 'Passengers 2010M08':'Passenger_2010_Aug',
 'Passengers 2010M09':'Passenger_2010_Sep',
 'Passengers 2010M10':'Passenger_2010_Oct',
 'Passengers 2010M11':'Passenger_2010_Nov',
 'Passengers 2010M12':'Passenger_2010_Dec',
 'Passengers 2011M01':'Passenger_2011_Jan',
 'Passengers 2011M02':'Passenger_2011_Feb',
 'Passengers 2011M03':'Passenger_2011_Mar',
 'Passengers 2011M04':'Passenger_2011_Apr',
 'Passengers 2011M05':'Passenger_2011_May',
 'Passengers 2011M06':'Passenger_2011_Jun',
 'Passengers 2011M07':'Passenger_2011_Jul',
 'Passengers 2011M08':'Passenger_2011_Aug',
 'Passengers 2011M09':'Passenger_2011_Sep',
 'Passengers 2011M10':'Passenger_2011_Oct',
 'Passengers 2011M11':'Passenger_2011_Nov',
 'Passengers 2011M12':'Passenger_2011_Dec',
 'Passengers 2012M01':'Passenger_2012_Jan',
 'Passengers 2012M02':'Passenger_2012_Feb',
 'Passengers 2012M03':'Passenger_2012_Mar',
 'Passengers 2012M04':'Passenger_2012_Apr',
 'Passengers 2012M05':'Passenger_2012_May',
 'Passengers 2012M06':'Passenger_2012_Jun',
 'Passengers 2012M07':'Passenger_2012_Jul',
 'Passengers 2012M08':'Passenger_2012_Aug',
 'Passengers 2012M09':'Passenger_2012_Sep',
 'Passengers 2012M10':'Passenger_2012_Oct',
 'Passengers 2012M11':'Passenger_2012_Nov',
 'Passengers 2012M12':'Passenger_2012_Dec',
 'Passengers 2013M01':'Passenger_2013_Jan',
 'Passengers 2013M02':'Passenger_2013_Feb',
 'Passengers 2013M03':'Passenger_2013_Mar',
 'Passengers 2013M04':'Passenger_2013_Apr',
 'Passengers 2013M05':'Passenger_2013_May',
 'Passengers 2013M06':'Passenger_2013_Jun',
 'Passengers 2013M07':'Passenger_2013_Jul',
 'Passengers 2013M08':'Passenger_2013_Aug',
 'Passengers 2013M09':'Passenger_2013_Sep',
 'Passengers 2013M10':'Passenger_2013_Oct',
 'Passengers 2013M11':'Passenger_2013_Nov',
 'Passengers 2013M12':'Passenger_2013_Dec',
 'Passengers 2014M01':'Passenger_2014_Jan',
 'Passengers 2014M02':'Passenger_2014_Feb',
 'Passengers 2014M03':'Passenger_2014_Mar',
 'Passengers 2014M04':'Passenger_2014_Apr',
 'Passengers 2014M05':'Passenger_2014_May',
 'Passengers 2014M06':'Passenger_2014_Jun',
 'Passengers 2014M07':'Passenger_2014_Jul',
 'Passengers 2014M08':'Passenger_2014_Aug',
 'Passengers 2014M09':'Passenger_2014_Sep',
 'Passengers 2014M10':'Passenger_2014_Oct',
 'Passengers 2014M11':'Passenger_2014_Nov',
 'Passengers 2014M12':'Passenger_2014_Dec',
 'Passengers 2015M01':'Passenger_2015_Jan',
 'Passengers 2015M02':'Passenger_2015_Feb',
 'Passengers 2015M03':'Passenger_2015_Mar',
 'Passengers 2015M04':'Passenger_2015_Apr',
 'Passengers 2015M05':'Passenger_2015_May',
 'Passengers 2015M06':'Passenger_2015_Jun',
 'Passengers 2015M07':'Passenger_2015_Jul',
 'Passengers 2015M08':'Passenger_2015_Aug',
 'Passengers 2015M09':'Passenger_2015_Sep',
 'Passengers 2015M10':'Passenger_2015_Oct',
 'Passengers 2015M11':'Passenger_2015_Nov',
 'Passengers 2015M12':'Passenger_2015_Dec',
 'Passengers 2016M01':'Passenger_2016_Jan',
 'Passengers 2016M02':'Passenger_2016_Feb',
 'Passengers 2016M03':'Passenger_2016_Mar',
 'Passengers 2016M04':'Passenger_2016_Apr',
 'Passengers 2016M05':'Passenger_2016_May',
 'Passengers 2016M06':'Passenger_2016_Jun',
 'Passengers 2016M07':'Passenger_2016_Jul',
 'Passengers 2016M08':'Passenger_2016_Aug',
 'Passengers 2016M09':'Passenger_2016_Sep',
 'Passengers 2016M10':'Passenger_2016_Oct',
 'Passengers 2016M11':'Passenger_2016_Nov',
 'Passengers 2016M12':'Passenger_2016_Dec',
 'Passengers 2017M01':'Passenger_2017_Jan',
 'Passengers 2017M02':'Passenger_2017_Feb',
 'Passengers 2017M03':'Passenger_2017_Mar',
 'Passengers 2017M04':'Passenger_2017_Apr',
 'Passengers 2017M05':'Passenger_2017_May',
 'Passengers 2017M06':'Passenger_2017_Jun',
 'Passengers 2017M07':'Passenger_2017_Jul',
 'Passengers 2017M08':'Passenger_2017_Aug',
 'Passengers 2017M09':'Passenger_2017_Sep',
 'Passengers 2017M10':'Passenger_2017_Oct',
 'Passengers 2017M11':'Passenger_2017_Nov',
 'Passengers 2017M12':'Passenger_2017_Dec',
 'Passengers 2018M01':'Passenger_2018_Jan',
 'Passengers 2018M02':'Passenger_2018_Feb',
 'Passengers 2018M03':'Passenger_2018_Mar',
 'Passengers 2018M04':'Passenger_2018_Apr',
 'Passengers 2018M05':'Passenger_2018_May',
 'Passengers 2018M06':'Passenger_2018_Jun',
 'Passengers 2018M07':'Passenger_2018_Jul',
 'Passengers 2018M08':'Passenger_2018_Aug',
 'Passengers 2018M09':'Passenger_2018_Sep',
 'Passengers 2018M10':'Passenger_2018_Oct',
 'Passengers 2018M11':'Passenger_2018_Nov',
 'Passengers 2018M12':'Passenger_2018_Dec',
 'Passengers 2019M01':'Passenger_2019_Jan',
 'Passengers 2019M02':'Passenger_2019_Feb',
 'Passengers 2019M03':'Passenger_2019_Mar',
 'Passengers 2019M04':'Passenger_2019_Apr',
 'Passengers 2019M05':'Passenger_2019_May',
 'Passengers 2019M06':'Passenger_2019_Jun',
 'Passengers 2019M07':'Passenger_2019_Jul',
 'Passengers 2019M08':'Passenger_2019_Aug',
 'Passengers 2019M09':'Passenger_2019_Sep',
 'Passengers 2019M10':'Passenger_2019_Oct',
 'Passengers 2019M11':'Passenger_2019_Nov',
 'Passengers 2019M12':'Passenger_2019_Dec',
 'Passengers 2020M01':'Passenger_2020_Jan',
 'Passengers 2020M02':'Passenger_2020_Feb',
 'Passengers 2020M03':'Passenger_2020_Mar',
 'Passengers 2020M04':'Passenger_2020_Apr',
 'Passengers 2020M05':'Passenger_2020_Jun',
 'Passengers 2020M06':'Passenger_2020_Jul',
 'Passengers 2020M07':'Passenger_2020_Aug',
 'Passengers 2020M08':'Passenger_2020_Sep',
 'Passengers 2020M09':'Passenger_2020_Oct'
})

In [4]:
passenger_df.columns.to_list()

['airport',
 'type_of_traffic',
 'Passenger_2009_Jan',
 'Passenger_2009_Feb',
 'Passenger_2009_Mar',
 'Passenger_2009_Apr',
 'Passenger_2009_May',
 'Passenger_2009_Jun',
 'Passenger_2009_Jul',
 'Passenger_2009_Aug',
 'Passenger_2009_Sep',
 'Passenger_2009_Oct',
 'Passenger_2009_Nov',
 'Passenger_2009_Dec',
 'Passenger_2010_Jan',
 'Passenger_2010_Feb',
 'Passenger_2010_Mar',
 'Passenger_2010_Apr',
 'Passenger_2010_May',
 'Passenger_2010_Jun',
 'Passenger_2010_Jul',
 'Passenger_2010_Aug',
 'Passenger_2010_Sep',
 'Passenger_2010_Oct',
 'Passenger_2010_Nov',
 'Passenger_2010_Dec',
 'Passenger_2011_Jan',
 'Passenger_2011_Feb',
 'Passenger_2011_Mar',
 'Passenger_2011_Apr',
 'Passenger_2011_-May',
 'Passenger_2011_Jun',
 'Passenger_2011_Jul',
 'Passenger_2011_Aug',
 'Passenger_2011_Sep',
 'Passenger_2011_Oct',
 'Passenger_2011_Nov',
 'Passenger_2011_Dec',
 'Passenger_2012_Jan',
 'Passenger_2012_Feb',
 'Passenger_2012_Mar',
 'Passenger_2012-Apr',
 'Passenger_2012_May',
 'Passenger_2012_Jun',
 'Passenger_2012_Jul',
 'Passenger_2012_Aug',
 'Passenger_2012_Sep',
 'Passenger_2012_Oct',
 'Passenger_2012_Nov',
 'Passenger_2012_Dec',
 'Passenger_2013_Jan',
 'Passenger_2013_Feb',
 'Passenger_2013_Mar',
 'Passenger_2013_Apr',
 'Passenger_2013_May',
 'Passenger_2013_Jun',
 'Passenger_2013_Jul',
 'Passenger_2013_Aug',
 'Passenger_2013_Sep',
 'Passenger_2013_Oct',
 'Passenger_2013_Nov',
 'Passenger_2013_Dec',
 'Passenger_2014_Jan',
 'Passenger_2014_Feb',
 'Passenger_2014_Mar',
 'Passenger_2014_Apr',
 'Passenger_2014_May',
 'Passenger_2014_Jun',
 'Passenger_2014_Jul',
 'Passenger_2014_Aug',
 'Passenger_2014_Sep',
 'Passenger_2014_Oct',
 'Passenger_2014_Nov',
 'Passenger_2014_Dec',
 'Passenger_2015_Jan',
 'Passenger_2015_Feb',
 'Passenger_2015_Mar',
 'Passenger_2015_Apr',
 'Passenger_2015_May',
 'Passenger_2015_Jun',
 'Passenger_2015_Jul',
 'Passenger_2015-Aug',
 'Passenger_2015_Sep',
 'Passenger_2015_Oct',
 'Passenger_2015_Nov',
 'Passenger_2015_Dec',
 'Passenger_2016_Jan',
 'Passenger_2016_Feb',
 'Passenger_2016_Mar',
 'Passenger_2016_Apr',
 'Passenger_2016_May',
 'Passenger_2016_Jun',
 'Passenger_2016_Jul',
 'Passenger_2016_Aug',
 'Passenger_2016_Sep',
 'Passenger_2016_Oct',
 'Passenger_2016_Nov',
 'Passenger_2016_Dec',
 'Passenger_2017_Jan',
 'Passenger_2017_Feb',
 'Passenger_2017_Mar',
 'Passenger_2017_Apr',
 'Passenger_2017_May',
 'Passenger_2017_Jun',
 'Passenger_2017_Jul',
 'Passenger_2017_Aug',
 'Passenger_2017_Sep',
 'Passenger_2017_Oct',
 'Passenger_2017_Nov',
 'Passenger_2017_Dec',
 'Passenger_2018_Jan',
 'Passenger_2018_Feb',
 'Passenger_2018_Mar',
 'Passenger_2018_Apr',
 'Passenger_2018_May',
 'Passenger_2018_Jun',
 'Passenger_2018_Jul',
 'Passenger_2018_Aug',
 'Passenger_2018_Sep',
 'Passenger_2018_Oct',
 'Passenger_2018_Nov',
 'Passenger_2018_Dec',
 'Passenger_2019_Jan',
 'Passenger_2019_Feb',
 'Passenger_2019_Mar',
 'Passenger_2019_Apr',
 'Passenger_2019_May',
 'Passenger_2019_Jun',
 'Passenger_2019_Jul',
 'Passenger_2019_Aug',
 'Passenger_2019_Sep',
 'Passenger_2019_Oct',
 'Passenger_2019_Nov',
 'Passenger_2019_Dec',
 'Passenger_2020_Jan',
 'Passenger_2020_Feb',
 'Passenger_2020_Mar',
 'Passenger_2020_Apr',
 'Passenger_2020_Jun',
 'Passenger_2020_Jul',
 'Passenger_2020_Aug',
 'Passenger_2020_Sep',
 'Passenger_2020_Oct']

#### Find and replace columns with any NaN Values

In [5]:
passenger_df.columns[passenger_df.isnull().any()].fillna(0).tolist()

[]

In [6]:
passenger_df

,airport,type_of_traffic,Passenger_2009_Jan,Passenger_2009_Feb,Passenger_2009_Mar,Passenger_2009_Apr,Passenger_2009_May,Passenger_2009_Jun,Passenger_2009_Jul,Passenger_2009_Aug,...,Passenger_2019_Dec,Passenger_2020_Jan,Passenger_2020_Feb,Passenger_2020_Mar,Passenger_2020_Apr,Passenger_2020_Jun,Passenger_2020_Jul,Passenger_2020_Aug,Passenger_2020_Sep,Passenger_2020_Oct
0,Alta,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Alta,"Helicopter, other",0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
2,Alta,Other commercial flights,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Alta,Other commercial flights,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Alta,"Helicopter, other",0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,Ørsta-Volda Hovden,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,2,0,0
1088,Ørsta-Volda Hovden,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1089,Ørsta-Volda Hovden,"Helicopter, other",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,8,2,0,0
1090,Ørsta-Volda Hovden,Other commercial flights,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1091,Ørsta-Volda Hovden,Scheduled passenger flights,7087,7317,8417,7867,7891,8823,6496,7284,...,7611,8336,8045,4504,2124,2651,5536,5894,5459,4999

#### Drop any Rows with ALL Zero Values

In [7]:
##passenger_df = passenger_df[(passenger_df == 0).all(1)].dropna()
passenger_df = passenger_df.replace(0,np.nan)
passenger_df

,airport,type_of_traffic,Passenger_2009_Jan,Passenger_2009_Feb,Passenger_2009_Mar,Passenger_2009_Apr,Passenger_2009_May,Passenger_2009_Jun,Passenger_2009_Jul,Passenger_2009_Aug,...,Passenger_2019_Dec,Passenger_2020_Jan,Passenger_2020_Feb,Passenger_2020_Mar,Passenger_2020_Apr,Passenger_2020_Jun,Passenger_2020_Jul,Passenger_2020_Aug,Passenger_2020_Sep,Passenger_2020_Oct
0,Alta,"Helicopter, other",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alta,"Helicopter, other",NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alta,Other commercial flights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alta,Other commercial flights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alta,"Helicopter, other",NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,Ørsta-Volda Hovden,"Helicopter, other",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.0,NaN,NaN
1088,Ørsta-Volda Hovden,"Helicopter, other",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1089,Ørsta-Volda Hovden,"Helicopter, other",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.0,NaN,NaN
1090,Ørsta-Volda Hovden,Other commercial flights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1091,Ørsta-Volda Hovden,Scheduled passenger flights,7087.0,7317.0,8417.0,7867.0,7891.0,8823.0,6496.0,7284.0,...,7611.0,8336.0,8045.0,4504.0,2124.0,2651.0,5536.0,5894.0,5459.0,4999.0

In [8]:
new_df = passenger_df.iloc[:,:2]
new_df

                 airport              type_of_traffic
0                   Alta            Helicopter, other
1                   Alta            Helicopter, other
2                   Alta     Other commercial flights
3                   Alta     Other commercial flights
4                   Alta            Helicopter, other
...                  ...                          ...
1087  Ørsta-Volda Hovden            Helicopter, other
1088  Ørsta-Volda Hovden            Helicopter, other
1089  Ørsta-Volda Hovden            Helicopter, other
1090  Ørsta-Volda Hovden     Other commercial flights
1091  Ørsta-Volda Hovden  Scheduled passenger flights

[1092 rows x 2 columns]

In [9]:
new_df1 = passenger_df.iloc[:,2:].dropna(how='all')
new_df1 = new_df1.replace(np.nan,0)

new_df1

,Passenger_2009_Jan,Passenger_2009_Feb,Passenger_2009_Mar,Passenger_2009_Apr,Passenger_2009_May,Passenger_2009_Jun,Passenger_2009_Jul,Passenger_2009_Aug,Passenger_2009_Sep,Passenger_2009_Oct,...,Passenger_2019_Dec,Passenger_2020_Jan,Passenger_2020_Feb,Passenger_2020_Mar,Passenger_2020_Apr,Passenger_2020_Jun,Passenger_2020_Jul,Passenger_2020_Aug,Passenger_2020_Sep,Passenger_2020_Oct
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,26463.0,28555.0,29344.0,27208.0,26963.0,30302.0,33726.0,31569.0,30302.0,29697.0,...,24943.0,27644.0,27778.0,16487.0,4221.0,6229.0,13248.0,24120.0,20621.0,19571.0
6,0.0,0.0,116.0,0.0,510.0,1162.0,622.0,0.0,56.0,0.0,...,129.0,73.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,4.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0
1080,4.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0
1087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0
1089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0
1091,7087.0,7317.0,8417.0,7867.0,7891.0,8823.0,6496.0,7284.0,8069.0,8741.0,...,7611.0,8336.0,8045.0,4504.0,2124.0,2651.0,5536.0,5894.0,5459.0,4999.0

In [10]:
cols = passenger_df.columns.to_list()
cols
df_merged = pd.merge(new_df1,new_df,how='left',left_index=True,right_index=True)
df_merged = df_merged.reindex(columns=cols)
df_merged.reset_index(drop=True,inplace=True)
df_merged

,airport,type_of_traffic,Passenger_2009_Jan,Passenger_2009_Feb,Passenger_2009_Mar,Passenger_2009_Apr,Passenger_2009_May,Passenger_2009_Jun,Passenger_2009_Jul,Passenger_2009_Aug,...,Passenger_2019_Dec,Passenger_2020_Jan,Passenger_2020_Feb,Passenger_2020_Mar,Passenger_2020_Apr,Passenger_2020_Jun,Passenger_2020_Jul,Passenger_2020_Aug,Passenger_2020_Sep,Passenger_2020_Oct
0,Alta,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Alta,Other commercial flights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Alta,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Alta,All commercial flights,26463.0,28555.0,29344.0,27208.0,26963.0,30302.0,33726.0,31569.0,...,24943.0,27644.0,27778.0,16487.0,4221.0,6229.0,13248.0,24120.0,20621.0,19571.0
4,Alta,All commercial flights,0.0,0.0,116.0,0.0,510.0,1162.0,622.0,0.0,...,129.0,73.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,Ørsta-Volda Hovden,Non-scheduled passenger flights,4.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0
677,Ørsta-Volda Hovden,Non-scheduled passenger flights,4.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0
678,Ørsta-Volda Hovden,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0
679,Ørsta-Volda Hovden,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0
680,Ørsta-Volda Hovden,Scheduled passenger flights,7087.0,7317.0,8417.0,7867.0,7891.0,8823.0,6496.0,7284.0,...,7611.0,8336.0,8045.0,4504.0,2124.0,2651.0,5536.0,5894.0,5459.0,4999.0

In [16]:
df_merged.to_csv('clean_df1.csv',index_label='id',header=False)

PermissionError: [Errno 13] Permission denied: 'clean_df1.csv'

In [12]:
def copy_from_file(conn, df, table):
    """
    Here we are going save the dataframe on disk as 
    a csv file, load the csv file  
    and use copy_from() to copy it to the table
    """
    # Save the dataframe to disk
    tmp_df = "./tmp_dataframe.csv"
    print('copying data frame to file')
    df.to_csv(tmp_df, index_label='id', header=False)
    f = open(tmp_df, 'r')
    cursor = conn.cursor()
    print('cursor opened')
    try:
        print('copying')
        cursor.copy_from(f, table, sep=";")
        conn.commit()
        print('commit done')
    except (Exception, psycopg2.DatabaseError) as error:
        #os.remove(tmp_df)
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_file() done")
    cursor.close()
    #os.remove(tmp_df)

In [13]:
from connect import connect
import psycopg2,os

conn = connect()
copy_from_file(conn,df_merged,'passenger_data')

Connecting to the PostgreSQL database...
connectin successful
copying data frame to file
cursor opened
copying
Error: missing data for column "type_of_traffic"
CONTEXT:  COPY passenger_data, line 1: "0,Alta,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0..."

1

In [14]:
df_merged

,airport,type_of_traffic,Passenger_2009_Jan,Passenger_2009_Feb,Passenger_2009_Mar,Passenger_2009_Apr,Passenger_2009_May,Passenger_2009_Jun,Passenger_2009_Jul,Passenger_2009_Aug,...,Passenger_2019_Dec,Passenger_2020_Jan,Passenger_2020_Feb,Passenger_2020_Mar,Passenger_2020_Apr,Passenger_2020_Jun,Passenger_2020_Jul,Passenger_2020_Aug,Passenger_2020_Sep,Passenger_2020_Oct
0,Alta,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Alta,Other commercial flights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Alta,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Alta,All commercial flights,26463.0,28555.0,29344.0,27208.0,26963.0,30302.0,33726.0,31569.0,...,24943.0,27644.0,27778.0,16487.0,4221.0,6229.0,13248.0,24120.0,20621.0,19571.0
4,Alta,All commercial flights,0.0,0.0,116.0,0.0,510.0,1162.0,622.0,0.0,...,129.0,73.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,Ørsta-Volda Hovden,Non-scheduled passenger flights,4.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0
677,Ørsta-Volda Hovden,Non-scheduled passenger flights,4.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0
678,Ørsta-Volda Hovden,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0
679,Ørsta-Volda Hovden,"Helicopter, other",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,0.0,0.0
680,Ørsta-Volda Hovden,Scheduled passenger flights,7087.0,7317.0,8417.0,7867.0,7891.0,8823.0,6496.0,7284.0,...,7611.0,8336.0,8045.0,4504.0,2124.0,2651.0,5536.0,5894.0,5459.0,4999.0

In [15]:
df_merged['type_of_traffic'].value_counts()

All commercial flights             137
Non-scheduled passenger flights    132
Scheduled passenger flights        130
Other commercial flights            83
Helicopter, other                   81
Helicopter, continental shelf       60
Freight                             58
Name: type_of_traffic, dtype: int64